Repository stackabletech/docker-images, pull requests merged in 2024-07, with the labels that each got.

#773 fix(omid): location and permissions of the tso logging directory
  omid/Dockerfile
Labels: scheduled-for/2024-07

#787 ci(release): Add free-disk-space action
  .github/workflows/release.yml
Labels: release/2024-07

#788 Removing hardcoded arch from bake command
  .github/workflows/release.yml
Labels: release/2024-07

#781 Add --no-log-init to useradd call
  stackable-base/Dockerfile
Labels: scheduled-for/2024-11
